body {
  font-family: "Courier";

  .col-md-9 {
    margin-top: 2em;
  }

  #construction {
    text-align: center;
    font-size: 1em;
    margin: 4em;
  }

}

.social-media {
  margin: 2em;
  position: static;

  a {
    color: #79BFCB;

    a:hover {
      color: indianred;
    }
  }
}

.post {
  font-family: Georgia;
  margin: 2em;
  margin-left: 4em;
  margin-right: 4em;
}

#date {
  text-align: center;
  padding: 1em;
  font-size: x-large;
  color: #67b168;
}


#p1 {
  animation: type 5s steps(60, end);
  animation-delay: 1s;
}


@keyframes type {
  from {
  width: 0;
  opacity: 1;
  }
}
