$mobile-max: 999px;

body {
  font-family: "Courier";

  .col-md-9 {
    margin-top: 2em;
  }
  
  p {
    display: block;
  }
  #construction {
    text-align: center;
    font-size: 1em;
    margin: 4em;
  }

  #blog {
    text-align: right;
    margin-right: 8vw;
  }

  #first {
    display: none;

    img, p, h3 {
      min-width: 50vw;
      max-width: 65vw;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .social-media {
    margin: 2em;
    display: none;

    @media screen and (min-width: $mobile-max) {
      position: fixed;
      display: block;
    }

    a {
      color: #79BFCB;
    }

    a:hover {
      color: indianred;
    }

    #name_desktop:hover {
      color: indianred;
    }

  }

  .desktop-view {
    display: none;
    @media screen and (min-width: $mobile-max) {
      display: block;
    }
  }

  .mobile-view {

    ul {
      list-style-type: none;
      display: inline-block;
    }

    a {
      color: #79BFCB;
    }

    .right {
      text-align: left;
    }

    li {
      display: inline-block;
      padding: 1em;
    }

    @media screen and (min-width: $mobile-max) {
      display: none;
    }

    #name_mobile:hover {
      color: indianred;
    }

  }

  .post {
    font-family: Georgia;
    margin: 2em;
    margin-left: 2em;
    margin-right: 4em;
    font-size: 1.2em;
  }

  #date {
    text-align: center;
    padding-bottom: 1em;
    font-size: x-large;
    color: #67b168;
  }

  #p1 {
    animation: type 5s steps(60, end);
    animation-delay: 1s;
  }

}

@keyframes type {
  from {
  width: 0;
  opacity: 1;
  }
}

#earthtop {
  color: black;
  margin-top: 3%;
}

