body {
    color: #79BFCB;
    text-align: center;
}

box {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20vw;
}

h1, h2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h1:hover{
    color: #79BFC8;
}

h2:hover{
    color: #79BFC8;
}
