body {
  font-family: "Helvetica", sans-serif;
  margin-top: 2em;
}

body .chin {
  display: none;
}

@media screen and (min-width: 991px) {
  body {
    margin: 4em 0em 0em 4em;
  }
  
  body .col-md-9 {
    width: 83%;
  }

  body .col-sm-3 {
    width: 17%;
  }
}

body .contact {
  display: none;
}

body .contact .row {
  margin-bottom: 1em;
}

@media screen and (min-width: 991px) {
  body .contact {
    position: fixed;
    display: block;
  }
}

body .contact .name_desktop {
  background: transparent;
}

body .contact .social-media {
  border: white dashed 10px;
}

body .contact .social-media a {
  color: #79BFCB;
}

body .contact .social-media a:hover {
  color: indianred;
  background-color: transparent;
}

body .contact .summer-blogs {
  margin-top: 2em;
  background-color: antiquewhite;
  padding: 1em;
}

@media screen and (min-width: 991px) {
  body .contact .summer-blogs {
    position: fixed;
    display: block;
  }
}

#catbike {
  max-height: 20vh;
}

body #translate .button {
  background-color: antiquewhite;
}

body #translate .active {
  background-color: #79BFCB;
}

body .content {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .content #bio {
  padding: 1em;
  text-align: left;
}

body .content #projects {
    margin-top: 1vw;
    text-decoration: underline;
}


#pronouce {
    display: inline-block;
}

body .content #projects .title {
  font-size: x-large;
  text-align: center;
  color: #67b168;
  padding: 0.5em;
  background-color: azure;
  z-index: -1;
}

body .content #projects .project {
  margin-top: 4vw;
  margin-left: 4vw;
  margin-right: 4vw;
  text-align: center;
  background-color: aliceblue;
  height: 230px;
  border-radius: 30px;
  opacity: 0.5;
}

body .content #projects .image {
  width: 90%;
  height: 90%;
  margin: 0;
  background-size: cover;
}

body .content #projects #cdph .image {
  background-image: url("../images/screenshots.png");
}

body .content #projects .project:hover {
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
  opacity: 1;
}

body .content #construction {
  text-align: center;
  font-size: 1em;
  margin: 4em;
}

body .content .blog {
  text-align: right;
}

body .content .blog:hover {
  color: indianred;
  text-decoration: underline;
}

body .content #first {
  display: none;
  text-align: left;
}

body .content #first img, body .content #first p, body .content #first video, body .content #first h3 {
  min-width: 65vw;
  max-width: 65vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body .content .mobile-view {
  text-align: center;
}

body .content .mobile-view .name_mobile {
  text-align: center;
}

body .content .mobile-view ul {
  list-style-type: none;
  display: inline-block;
}

body .content .mobile-view a {
  color: #79BFCB;
}

body .content .mobile-view .right {
  text-align: left;
  margin-right: 1em;  /* evens out the indent from ul */
}

body .content .mobile-view li {
  display: inline-block;
  padding: 0.5em 2em 0.5em 2em;
  margin: 0.5em;
  background-color: antiquewhite;
}

@media screen and (min-width: 991px) {
  body .content .mobile-view {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  #translate {
    margin-right: 20vw;
  }

  @media screen and (max-width: 767px) {
    #translate {
      margin-right: 0vw;
    }
  }
}

body .content .mobile-view #name_mobile:hover {
  color: indianred;
}

body .content .post {
  font-family: sans-serif;
  margin: 1em 1em 3em 1em;
  font-size: 1.2em;
}

body .content .todo {
  margin-left: 6vw;
}

body .content #date {
  font-size: x-large;
  text-align: center;
  color: #67b168;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  background-color: aliceblue;
  z-index: -1;
}

#earthtop {
  color: black;
  margin-top: 3%;
}

h2 {
  margin-left: 3vw;
}
/*# sourceMappingURL=main.css.map */
