$mobile-max: 991px;

body {
  font-family: "Courier";

  .chin {
    display: none;
  }

  .col-md-9 {
    margin-top: 2em;

  }

  .contact {
    margin: 2em;
    display: none;
    padding: 2em;

    .row {
      margin-bottom: 1em;
    }

    @media screen and (min-width: $mobile-max) {
      position: fixed;
      display: block;
    }

    .name_desktop {
      background: transparent;
    }

    .social-media {
      background-color: antiquewhite;
      padding: 1em;

      a {
        color: #79BFCB;
      }

      a:hover {
        color: indianred;
        background-color: transparent;
      }
    }

    .summer-blogs {
      margin-top: 2em;
      background-color: antiquewhite;
      padding: 1em;


      @media screen and (min-width: $mobile-max) {
        position: fixed;
        display: block;
      }
    }

  }

  #translate {
    .button {
      background-color: antiquewhite;
    }

    .active {
      background-color: #79BFCB;
    }
  }

  .content {
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    align-content: center;

    .heading {
      text-align: center;
      color: #67b168;
      padding: 0.3em;
      background-color: aliceblue;
      z-index: -1;
    }

    #bio {
      background-color: azure;
      padding: 1em;
      text-align: left;

    }

    #construction {
      text-align: center;
      font-size: 1em;
      margin: 4em;
    }

    .blog {
      text-align: right;
      margin-right: 8vw;
    }

    .blog:hover {
      color: indianred;
      text-decoration: underline;
    }

    #first {
      display: none;

      img, p, video, h3 {
        min-width: 50vw;
        max-width: 65vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    #second {
      display: none;

      p, h3 {
        min-width: 50vw;
        max-width: 65vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    .mobile-view {
      text-align: center;

      .name_mobile {
        text-align: center;
      }

      ul {
        list-style-type: none;
        display: inline-block;
      }

      a {
        color: #79BFCB;
      }

      .right {
        text-align: left;
      }

      li {
        display: inline-block;
        padding: 0.5em;
        margin: 0.5em;
        background-color: antiquewhite;
      }

      @media screen and (min-width: $mobile-max) {
        display: none;
      }

      #name_mobile:hover {
        color: indianred;
      }

    }

    .post {
      font-family: Georgia;
      margin: 2em;
      margin-left: 2em;
      margin-right: 4em;
      font-size: 1.2em;

      #yena {
        display: inline-block;
      }

      #yena:hover {
        text-decoration: line-through;
      }

      .todo {
        margin-left: 11vw;
      }

    }

    #date {
      font-size: x-large;
      text-align: center;
      color: #67b168;
      padding: 0.5em;
      background-color: aliceblue;
      z-index: -1;
    }
  }

}

#earthtop {
  color: black;
  margin-top: 3%;
}

